@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles */
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

/* Font-Manrope */

@font-face {
  font-family: Manrope;
  font-weight: 700;
  src: url("../public/fonts/Manrope/Manrope-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Manrope;
  font-weight: 800;
  src: url("../public/fonts/Manrope/Manrope-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: Manrope;
  font-weight: 200;
  src: url("../public/fonts/Manrope/Manrope-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: Manrope;
  font-weight: 300;
  src: url("../public/fonts/Manrope/Manrope-Light.ttf") format("truetype");
}

@font-face {
  font-family: Manrope;
  font-weight: 400;
  src: url("../public/fonts/Manrope/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Manrope;
  font-weight: 600;
  src: url("../public/fonts/Manrope/Manrope-SemiBold.ttf") format("truetype");
}

/* Font-Spartan  */

@font-face {
  font-family: Spartan;
  font-weight: 900;
  src: url("../public/fonts/Spartan/Spartan-Black.ttf") format("truetype");
}

@font-face {
  font-family: Spartan;
  font-weight: 700;
  src: url("../public/fonts/Spartan/Spartan-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Spartan;
  font-weight: 800;
  src: url("../public/fonts/Spartan/Spartan-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: Spartan;
  font-weight: 200;
  src: url("../public/fonts/Spartan/Spartan-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: Spartan;
  font-weight: 300;
  src: url("../public/fonts/Spartan/Spartan-Light.ttf") format("truetype");
}

@font-face {
  font-family: Spartan;
  font-weight: 500;
  src: url("../public/fonts/Spartan/Spartan-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Spartan;
  font-weight: 400;
  src: url("../public/fonts/Spartan/Spartan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Spartan;
  font-weight: 600;
  src: url("../public/fonts/Spartan/Spartan-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Spartan;
  font-weight: 100;
  src: url("../public/fonts/Spartan/Spartan-Thin.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Manrope";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Manrope";
}

.ce-chat-engine {
  background-color: transparent !important;
  width: 100%;
}

.ce-wrapper {
  height: 100%;
}

.ce-settings-column {
  position: absolute !important;
  right: 0 !important;
  height: calc(100% - 41px);
  width: max-content !important;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 999 !important;
}

.ce-settings-column .ce-settings {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-left: none !important;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.ce-chat-feed-column {
  flex: 1 !important;
  max-width: unset !important;
}

#ce-feed-container {
  overflow: hidden auto !important;
}

.ce-chat-list-column,
.ce-chat-feed-column {
  max-height: 100%;
}

#ce-ice-breaker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ce_message {
  background-color: rgb(241, 240, 240);
  display: inline-flex;
  min-height: 40px;
  padding: 10px 19px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px !important;
}

.ce-my-message-bubble {
  background: linear-gradient(139deg, #0e45b5 0.33%, #66d6f9 100%);
}

.overlay-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: #0004;
  z-index: 998;
}
@font-face {
  font-family: manrope;
  src: url(./components/Assets/Manrope-SemiBold.ttf);
}
.table-heaing th {
  padding-right: 133px;
  padding-bottom: 10px;
  font-size: 14px;
  font-family: manrope;
}
.table-heaing,
.table-data {
  border-bottom: 1px solid #aba4a4;
  font-family: manrope;
}
.table-data td {
  padding: 10px 0px;
  font-size: 12px;
  padding-left: 1px;
  font-family: manrope;
}
.recentfiles-img {
  width: 22px;
  height: 22px;
}
.table-data-img {
  padding-left: 39px;
}
.files,
.Cards,
.dropdown,
.home-buttons,
.folder-button,
#dropdownDefaultButton,
.quic-access,
.folder,
.recent-files,
.quic-acess-file {
  font-family: manrope;
}
